# CODStats API - Package Manager Config
# Last modified: 2025-05-06

# Use public npm registry explicitly
registry=https://registry.npmjs.org/

# Strict versioning and builds
save-exact=true
engine-strict=true
strict-ssl=true
package-lock=true

# Reproducibility & performance
prefer-online=true
prefer-offline=true
prefer-dedupe=true
maxsockets=1

# Disable automatic version git tagging
git-tag-version=false

# Disable update notifier (consider setting this only in CI)
update-notifier=false

# Logging
loglevel=info

# Author defaults
init-author-name=mister-fix
init-license=MIT
